//utils
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/mixins";

//base
@import "./base/common";
@import "./base/reset";

//components
@import "./components/section";
@import "./components/container";
@import "./components/buttons";
@import "./components/logo";
@import "./components/main-nav";
@import "./components/auth-nav";
@import "./components/address";
@import "./components/social-link";
@import "./components/subscribe-form";
@import "./components/backdrop-vs-modal";
@import "./components/form/general-properties";
@import "./components/form/input";
@import "./components/form/textarea";
@import "./components/form/agreement";
@import "./components/form/checkbox";
@import "./components/hover-overlay";
@import "./components/mobile-menu.scss";

//layouts
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/specialization";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/portfolio";

// @import "";
