.auth-nav {
  display: none;

  @include mq(tab) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

    @include mq(desk) {
      display: flex;
      flex-direction: unset;
      flex-wrap: wrap;
      gap: 50px;
    }
  }
}

.auth-nav__link {
  @include mq(tab) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  @include mq(desk) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $primary-text-color;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover {
      color: $accent-blue-color;
    }

    &:focus {
      color: $accent-blue-color;
    }
  }

  .auth-nav__icon-envelope,
  .auth-nav__icon-smartphone {
    fill: currentColor;
  }
}
