.backdrop {
  width: 100%;
  height: 100%;

  background-color: $backdrop-bg-color;

  transition-property: background-color, opacity, visibility;
  transition-duration: $transition-duration-modal;
  transition-timing-function: $transition-timing-function;
}

.backdrop__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__is-hidden .modal {
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 450px;
  height: 609px;

  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform, background-color;
  transition-duration: $transition-duration-modal;
  transition-timing-function: $transition-timing-function;

  @include mq(desk) {
    width: 528px;
    height: 581px;
  }
}
