.main-nav {
  display: none;
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.main-nav__link {
  @include mq(tab) {
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
      color: $accent-blue-color;
    }
    &:focus {
      color: $accent-blue-color;
    }

    &--current {
      position: relative;

      color: $accent-blue-color;
      &::after {
        content: "";

        position: absolute;

        display: block;
        width: 100%;
        height: 4px;
        bottom: 0px;

        border-radius: 2px;
        background-color: $accent-blue-color;

        transform: translateY(1px);
      }
    }
  }
}
