.social-link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-link__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.social-link__icon {
  fill: $icon-color;
}
