.subscribe-form__form-label {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  flex-basis: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: $primary-bg-color;

  @include mq(tab) {
  }

  @include mq(desk) {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 358px;
  }
}

.subscribe-form__form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
