.footer {
  padding: 60px 0px;

  background-color: $footer-bg-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include mq(desk) {
    flex-direction: unset;
    align-items: flex-start;
    gap: 93px;
  }
}

.footer__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @include mq(tab) {
    flex-direction: unset;
    gap: 165px;
  }

  @include mq(desk) {
    align-items: flex-start;
    gap: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  &--accent {
    color: $footer-logo-accent-color;
  }
}

.footer__adress-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    width: 231px;

    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer-join-container__title {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  text-align: center;

  color: $footer-logo-accent-color;

  @include mq(tab) {
  }

  @include mq(desk) {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.footer-join-container__link {
  background-color: $footer-social-link-color;

  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:focus {
    background: $accent-blue-color;
  }
  &:hover {
    background: $accent-blue-color;
  }
}

.footer-join-container__icon {
  fill: $footer-logo-accent-color;
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;

  @include mq(desk) {
    flex-direction: unset;
    align-items: flex-end;
    max-width: 570px;
  }
}
