.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  background-color: $primary-bg-color;
  border-bottom: 1px solid $header-border-color;
}

.header__container {
  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }

  @include mq(desk) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 88px;
  padding-top: 24px;
  padding-bottom: 25px;

  &--accent {
    color: $accent-black-color;
  }
}
