// .header {
//   // width: 100%;
//   // background-color: $primary-bg-color;
//   // border-bottom: 1px solid $header-border-color;
// }

// .header__container {
//   // display: flex;
//   // flex-wrap: wrap;
//   // align-items: center;
//   // justify-content: space-between;
// }

// .header-nav {
//   // display: flex;
//   // align-items: center;
// }

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  &--accent {
    color: $accent-black-color;
  }
}
