.portfolio__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__nav-item:not(:last-child) {
  margin-right: 8px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works__item {
  flex-basis: calc((100% - 60px) / 3);

  transition-property: box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay__text {
    transform: translateY(0);
    opacity: 1;
  }

  &:focus .overlay__text {
    transform: translateY(0);
    opacity: 1;
  }
}

.works__signature {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 23px;
  border-right: 1px solid $signature-works-border-color;
  border-left: 1px solid $signature-works-border-color;
  border-bottom: 1px solid $signature-works-border-color;
}

.works__title {
  margin-bottom: 4px;

  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works__kind-of {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
